@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700&subset=cyrillic");
body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  color: #fefefe;
  font-family: "Open Sans", sans-serif;
  min-width: 440px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

header {
  width: 100%;
  height: 60px;
  background-color: #1d1d1d;
}

.icons {
  width: auto;
  height: 100%;
  float: right;
  margin-right: 80px;
}
.icons img {
  height: 42px;
  margin-top: 9px;
  margin-left: 20px;
}
.icons img:hover {
  cursor: pointer;
}

.start {
  width: 100%;
  height: 80vh;
  background-color: #2d89ef;
}
.start div {
  width: 100%;
  height: auto;
  text-align: center;
}
.start span.bold {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 25vh;
  display: inline-block;
}
.start span.bold span.light {
  font-weight: 300;
  letter-spacing: 3px;
}

#skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  float: right;
  display: block;
  margin-right: 30%;
  margin-top: 20px;
  letter-spacing: 1px;
  font-weight: lighter;
}

#scroll {
  float: right;
  margin-top: 20vh;
}
#scroll img {
  height: 40px;
  vertical-align: middle;
}

.myProject {
  width: 100%;
  min-height: 80vh;
  height: auto;
  background-color: #fefefe;
  text-align: center;
  padding-bottom: 20px;
}
.myProject .text {
  color: #2d89ef;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  overflow: hidden;
  width: 250px;
  margin-top: 20px;
}
.myProject .text:before, .myProject .text:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 3px;
  background-color: #2d89ef;
  border: solid #fefefe;
  border-width: 0 10px;
}
.myProject .text:before {
  margin-left: -100%;
}
.myProject .text:after {
  margin-right: -100%;
}
.myProject .container {
  width: 80%;
  margin-left: 10%;
  height: auto;
  background-color: #fefefe;
  display: block;
  text-align: center;
}
.myProject .container div {
  width: 18.7%;
  height: 140px;
  margin-top: 30px;
  margin-right: 3%;
  margin-left: 3%;
  display: inline-block;
  background-color: #2d89ef;
  color: white;
  cursor: pointer;
  overflow: hidden;
  min-width: 120px;
}
.myProject .container .oneProject {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
}
.myProject .container .oneProject .name {
  font-weight: 700;
  font-size: 100%;
  float: left;
  margin-left: 10px;
  display: block;
}
.myProject .container .oneProject .description {
  font-weight: 300;
  margin-top: 60px;
  display: block;
  text-align: left;
  padding: 10px;
  overflow: hidden;
}
.myProject .container .oneProject:not(.nActive):hover {
  background-color: #4e9cf2;
}
.myProject .container .nActive {
  background-color: #f0f0f0;
  color: #f0f0f0;
  cursor: auto;
}

.aboutMe {
  width: 100%;
  min-height: 300px;
  height: auto;
  background-color: #f0f0f0;
  text-align: center;
}
.aboutMe .text {
  color: #2d89ef;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  overflow: hidden;
  width: 250px;
  margin-top: 20px;
}
.aboutMe .text:before, .aboutMe .text:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 3px;
  background-color: #2d89ef;
  border: solid #f0f0f0;
  border-width: 0 10px;
}
.aboutMe .text:before {
  margin-left: -100%;
}
.aboutMe .text:after {
  margin-right: -100%;
}
.aboutMe .aboutList {
  padding-top: 10px;
  width: 80%;
  margin-left: 10%;
  height: auto;
  max-height: 80%;
  color: #2d89ef;
}
.aboutMe .aboutList span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.aboutMe .aboutList .leftSpan {
  text-align: left;
  font-weight: 300;
}
.aboutMe .aboutList table {
  width: 80%;
  margin-left: 10%;
  color: #2d89ef;
  font-size: 16px;
}
.aboutMe .aboutList table td {
  display: inline-block;
  float: left;
  width: 20%;
  margin-left: 4%;
  min-width: 90px;
}
.aboutMe .aboutList table ul {
  list-style: none;
  text-align: left;
}
.aboutMe .aboutList .notation {
  width: 100%;
  text-align: right;
  font-weight: 300;
}

.contacts {
  width: 100%;
  min-height: 99vh;
  height: auto;
  padding-bottom: 1vh;
  background-color: #2d89ef;
  text-align: center;
  color: #fefefe;
  overflow: auto;
}
.contacts .text {
  color: #fefefe;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  overflow: hidden;
  width: 250px;
  margin-top: 20px;
}
.contacts .text:before, .contacts .text:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 3px;
  background-color: #fefefe;
  border: solid #2d89ef;
  border-width: 0 10px;
}
.contacts .text:before {
  margin-left: -100%;
}
.contacts .text:after {
  margin-right: -100%;
}
.contacts span {
  display: block;
}
.contacts #contactMe {
  font-size: 34px;
  font-weight: 700;
}
.contacts #formUsing {
  font-size: 34px;
  font-weight: 300;
  margin-top: 15px;
}
.contacts .form {
  width: 50%;
  min-height: 70vh;
  display: inline-block;
  float: left;
  margin-left: 25%;
}
.contacts .form input[type='text'] {
  background-color: #2d89ef !important;
  outline-color: #2d89ef;
  border: none;
  border-bottom: 2px solid #fefefe;
  color: #fefefe;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}
.contacts .form input[name='name'] {
  margin-top: 50px;
  width: 100%;
}
.contacts .form input[name='email'] {
  width: 100%;
  float: right;
  margin-top: 35px;
}
.contacts .form textarea[name='problemDescribe'] {
  background-color: #2d89ef !important;
  outline-color: #2d89ef;
  border: 2px solid #fefefe;
  color: #fefefe;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  width: 100%;
  height: 180px;
  resize: none;
  overflow: hidden;
}
.contacts .form input[name='legend'] {
  font-style: italic;
  font-size: 18px;
  width: 100%;
  margin-top: 35px;
  border: none;
  cursor: auto;
  color: #2d89ef;
}
.contacts .form input[type='text']::-webkit-input-placeholder {
  color: #f0f0f0;
}
.contacts .form input[type='text']::-moz-placeholder {
  color: #f0f0f0;
}
.contacts .form input[type='text']:-ms-input-placeholder {
  color: #f0f0f0;
}
.contacts .form input[type='text']:-moz-placeholder {
  color: #f0f0f0;
}
.contacts .form #send {
  width: 90px;
  height: 36px;
  color: #fefefe;
  border: 2px solid #fefefe;
  background-color: #2d89ef;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
  -ms-transition: color 0.6s;
}
.contacts .form #send:hover {
  background-color: #fefefe;
  color: #2d89ef;
}

#backTop {
  text-decoration: none;
  color: #fefefe;
  display: inline-block;
  font-weight: 300;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

#indicators {
  position: fixed;
  width: 5px;
  height: 180px;
  right: 60px;
  cursor: pointer;
  top: calc((100vh - 180px)/2);
}
#indicators ul {
  list-style-type: none;
}
#indicators ul li {
  margin-top: 15px;
  border: 2px solid #fefefe;
  border-radius: 5px;
  background-color: #fefefe;
  display: block;
  width: 5px;
  height: 5px;
  text-align: center;
}
#indicators ul li:not(.istart) {
  background-color: #B3B3B3;
  border-color: #B3B3B3;
}
#indicators ul li:not(.istart) .istart {
  background-color: #fefefe;
}

@media only screen and (max-height: 500px) {
  #scroll {
    float: right;
    margin-top: 25px;
  }
}

/*# sourceMappingURL=main.css.map */