:root{
	--color-white: #fefefe;
	--color-gray: #f0f0f0;
	--color-black: #1d1d1d;
	--color-blue: #2d89ef;
	--header-height: 60px;
}
/*
width: -webkit-calc(45% - 120px);
width: -moz-calc(45% - 120px);
width: calc(45% - 120px);
*/
body{
	margin: 0;
	background-color: var(--color-white); 
	color: var(--color-white);
	font-family: Calibri;
	min-width: 390px;
}
header{
	width: 100%;
	height: var(--header-height);
	background-color: var(--color-black);
}
.icons{
	width: auto;
	height: 100%;
	float: right;
	margin-right: 80px;
}
.icons img{
	height: calc(var(--header-height) - 18px);
	margin-top: 9px;
	margin-left: 20px;
	filter: brightness(600%);
	transition: filter 0.2s;
}
.icons img:hover{
	filter: brightness(100%);
	cursor: pointer;
}
.start{
	width: 100%;
	height:80vh;
	background-color: var(--color-blue);
}
.start div{
	width: 100%;
	height: auto;
	text-align: center;
}
section.start span.bold{
	font-size: 38px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-top: 25vh;
	display: inline-block;
}
section.start span.bold span.light{
	font-weight: 100;
	letter-spacing: 3px;
}
#skills ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    float: right;
    display: block;
    margin-right: 30%;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
}
#scroll{
	float: right;
	margin-top: 20vh;
}
#scroll img{
	height: 40px;
	vertical-align: middle;
}
.myProject{
	width: 100%;
	height:80vh;
	background-color: var(--color-white);
}

.aboutMe{
	width: 100%;
	height: 300px;
	background-color: var(--color-gray);
}

.contacts{
	width: 100%;
	height:100vh;
	background-color: var(--color-blue);
}

@media screen and (max-height:500px){
	#scroll{
		float: right;
		margin-top: 25px;
	}

}